<div class="container">
    <h1>Detalhes da Candidatura</h1>
    
        {{#each candidaturas}}
            <li class="job-card">
                <!-- Nome da vaga -->
                <h2>Nome: {{candidato.nome}}    </h2>
                <h2>{{candidato.qualificacao}}</h2>
                <!-- Nome da empresa -->
                 <!-- Descrição -->
                <p>{{vaga.area}}</p>

                
                <form action="/empresa/candidaturas/{{_id}}/status" method="POST">
                <label for="status">Alterar Status:</label>
                <select name="status" id="status">
                    <option value="Pendente" {{#ifCond status "Pendente"}}selected{{/ifCond}}>Pendente</option>
                    <option value="Aceito" {{#ifCond status "Aceito"}}selected{{/ifCond}}>Aceito</option>
                    <option value="Rejeitado" {{#ifCond status "Rejeitado"}}selected{{/ifCond}}>Rejeitado</option>
                </select>
                <button type="submit">Atualizar</button>
    

                <!-- Botão de cadastro -->
                <form action="/candidato/{{candidato._id}}/vagas/delete/{{_id}}" method="post">
        <button type="submit">Cancelar candidatura</button>
    </form>
            </li>
        {{/each}}

        <nav class="bottom-nav">
            <a href="/candidato/dashboard" class="nav-item ">Início</a>
            <a href="/candidato/{{candidatoId}}/candidaturas" class="nav-item active">Candidaturas</a>
            <a href="#" class="nav-item">Configurações</a>
        </nav>
        
</div>