<body>
    <nav class="navbar">
        <h1>JobFinder</h1>

        <ul class="navbar-menu">
            <li><a href="/empresa/dashboard">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                <path fill-rule="evenodd"
                    d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
            </svg>
            </a></li>
        </ul>
    </nav>

    <!-- Título -->
    <div class="page-title">
        <h1>Vagas Disponíveis</h1>
    </div>

    <!-- Grid de vagas -->
    <div class="jobs-grid">
        <ul>
            {{#if vagas.length}}
            {{#each vagas}}
            <li class="job-card">
                <!-- Nome da vaga -->
                <h2 class="job-title">{{this.nome}}</h2>

                <!-- Nome da empresa -->
                {{#if this.empresa}}
                <p class="job-company">{{this.empresa.nome}}</p>
                {{/if}}

                <!-- Imagem da vaga -->
                {{#if this.imagem}}
                <img src="{{this.imagem}}" alt="{{this.nome}}" class="job-image" />
                {{/if}}

                <!-- Descrição -->
                <p class="job-area">{{this.area}}</p>
                
                <!-- Link para mais detalhes -->
                <a href="/empresa/{{this.empresa._id}}/can/{{_id}}" class="view-job-button">Ver detalhes</a>
            </li>
            {{/each}}
            {{else}}
            <!-- Caso não existam vagas cadastradas -->
            <div class="no-data">
                <p>Não existem vagas cadastradas.</p>
            </div>
            {{/if}}
        </ul>
    </div>

    <!-- Navegação inferior -->
    <nav class="bottom-nav">
        <a href="/empresa/dashboard" class="nav-item">Início</a>
        <a href="/empresa/{{empresaId}}/vagas" class="nav-item active">Vagas</a>
        <a href="/empresa/{{empresaId}}/vagas/criar" class="nav-item">Add Vagas</a>
        <a href="#" class="nav-item">Perfil</a>
    </nav>
</body>
</html>
