
    <div class="container">
        <h1>Detalhes da Candidatura</h1>

        <!-- Detalhes da Vaga -->
        <h2>Vaga</h2>
        <p><strong>Nome:</strong> {{vaga.nome}}</p>
        <p><strong>Área:</strong> {{vaga.area}}</p>
        <p><strong>Requisitos:</strong> {{vaga.requisitos}}</p>
        <p><strong>Empresa:</strong> {{empresa}}</p>

        <!-- Imagem da Vaga -->
        {{#if imagem}}
            <img src="{{imagem}}" alt="Imagem da Vaga" />
        {{else}}
            <p><i>Sem imagem disponível</i></p>
        {{/if}}

        <!-- Detalhes do Candidato -->
      {{#if candidaturas.length}}
        <ul class="candidatura-list">
            {{#each candidaturas}}
                <li class="candidatura-item">
                    <h2>{{vaga.nome}}</h2>
                    <p><strong>Empresa:</strong> {{empresa.nome}}</p>
                    <p><strong>Status:</strong> {{status}}</p>
                    <form action="/candidato/{{../_id}}/vagas/delete/{{_id}}" method="post">
                        <button type="submit">Cancelar candidatura</button>
                    </form>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>Você ainda não se candidatou a nenhuma vaga.</p>
    {{/if}}
        <button><a href="/candidato/dashboard">Voltar</a></button>

    </div>