<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <!-- Cabeçalho -->
        <header class="header">
            <button class="back-button">←</button>
            <h1>JobFinder</h1>
            <button class="menu-button">☰</button>
        </header>

        <!-- Barra de busca -->
        <div class="search-container">
            <form action="/vagas/buscar" method="GET">
                <span class="search-icon">🔍</span>
                <input type="text" name="q" class="search-input" placeholder="Buscar Vagas">
                <button type="submit" class="search-button">Buscar</button>
            </form>
        </div>

        <!-- Categorias -->
        <div class="categories">
            <button class="category-button">Full Stack</button>
            <button class="category-button">UX/UI Designer</button>
            <button class="category-button">Analista de Dados</button>
            <button class="category-button">Técnico em TI</button>
            <button class="category-button">Estoquista</button>
            <button class="category-button">Programador Front End</button>
            <button class="category-button">Programador Back End</button>
            <button class="category-button">Operador de caixa</button>
            <button class="category-button">Enfermagem</button>
        </div>

        <!-- Grid de vagas -->
        <div class="jobs-grid">
            <ul>
                {{#if vagas.length}}
                {{#each vagas}}
                <li class="job-card">
                    <!-- Nome da vaga -->
                    <h2>{{nome}}</h2>

                    <!-- Nome da empresa -->
                    {{#if empresa}}
                    <p class="job-company">{{empresa.nome}}</p>
                    {{/if}}

                    <!-- Imagem da vaga -->
                    {{#if imagem}}
                    <img src="{{imagem}}" alt="{{nome}}" class="job-image" />
                    {{/if}}

                    <!-- Descrição -->
                    <p>{{area}}</p>

                    <!-- Botão de cadastro -->
                    <button class="register-button" onclick="window.location.href = '/vagas/{{_id}}';">Ver Vaga</button>
                </li>
                {{/each}}
                {{else}}
                <!-- Caso não existam vagas cadastradas -->
                <div class="no-data">
                    <p>Não existem vagas cadastradas.</p>
                </div>
                {{/if}}
            </ul>
        </div>
    </div>
</body>

</html>