
    <div class="container">
        <h1>Detalhes da Candidatura</h1>

        <!-- Detalhes da Vaga -->
        <h2>Vaga</h2>
        <p><strong>Nome:</strong> {{vaga.nome}}</p>
        <p><strong>Área:</strong> {{vaga.area}}</p>
        <p><strong>Requisitos:</strong> {{vaga.requisitos}}</p>
        <p><strong>Empresa:</strong> {{empresa}}</p>

        <!-- Imagem da Vaga -->
        {{#if imagem}}
            <img src="{{imagem}}" alt="Imagem da Vaga" />
        {{else}}
            <p><i>Sem imagem disponível</i></p>
        {{/if}}

        <!-- Detalhes do Candidato -->
        <h2>Candidato</h2>
        <p><strong>Nome:</strong> {{candidato.nome}}</p>

        <!-- Status -->
        <h2>Status</h2>
        <p>{{status}}</p>
        <form action="/candidato/{{candidatoId}}/vagas/delete/{{_id}}" method="post">
            <button type="submit">Cancelar candidatura</button>
        </form>
        <button><a href="/candidato/dashboard">Voltar</a></button>

    </div>