<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
</head>
<body>
    <header>
        <h1>Perfil do Usuário</h1>
    </header>

    <main>
        {{#if user.nome}} 
        <section>
            <h2>Informações do Candidato</h2>
            {{#if user.imagem}}
            <div>
                <strong>Imagem:</strong>
                <img src="data:{{user.imagem.contentType}};base64,{{user.imagem.data}}" alt="Imagem do candidato">
            </div>
            {{/if}}
            <p><strong>Nome:</strong> {{user.nome}}</p>
            <p><strong>CPF:</strong> {{user.cpf}}</p>
            <p><strong>Email:</strong> {{user.email}}</p>
            <p><strong>Telefone:</strong> {{user.telefone}}</p>
            <p><strong>Educação:</strong> {{user.educacao}}</p>
            <p><strong>Qualificações:</strong> {{user.qualificacao}}</p>
            <p><strong>Cursos:</strong> {{#if user.cursos}}{{#each user.cursos}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}{{else}}Não informado{{/if}}</p>
            <p><strong>Descrição:</strong> {{user.descricao}}</p>
            <p><strong>Habilidades Técnicas:</strong> {{user.habilidadesTecnicas}}</p>
            <p><strong>Idiomas:</strong> {{#if user.idiomas}}{{#each user.idiomas}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}{{else}}Não informado{{/if}}</p>

        </section>
        {{else if user.cnpj}}
        <section>
            <h2>Informações do Empregador</h2>
            <p><strong>Email:</strong> {{user.email}}</p>
            <p><strong>CNPJ:</strong> {{user.cnpj}}</p>
            <p><strong>Telefone:</strong> {{user.fone}}</p>
            <p><strong>Biografia:</strong> {{user.bio}}</p>
            <p><strong>Site:</strong> {{user.site}}</p>
        </section>
        {{else}}
        <p>Erro: Usuário não encontrado.</p>
        {{/if}}
    </main>
    <form>
        {{#if user.nome}}
        <button class="voltar" onclick="window.location.href='/';">Voltar</button>
        <button class="editar" onclick="window.location.href='';">Editar</button>
        {{else if user.cnpj}}
        <button class="voltar" onclick="window.location.href='/home/empregador';">Voltar</button>
        <button class="editar" onclick="window.location.href='/perfil/{{id}}/editar';">Editar</button>
        {{/if}}
    </form>
</body>
</html>
