<body>
    <div class="page-container">
        <nav class="navbar">
            <h1>JobFinder</h1>
            <div class="search-container">
                <form action="/candidato/vagas/buscar" method="GET">
                    <input type="text" name="q" class="search-input" placeholder="Buscar Vagas">
                    <button type="submit" class="search-button">Buscar</button>
                </form>
            </div>
            <ul class="navbar-menu">
                <li><a href="/candidato/{{id}}/candidaturas">Minhas Candidaturas
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                    <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
                    </svg>
                </a></li>
                <li><a href="/candidato/perfil/{{id}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                </a></li>
                <li><a href="/login">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                    </svg>
                </a></li>
            </ul>
        </nav>

        <main class="container">
            {{#if user.nome}} 
            <section>
                <h2>Informações do Candidato</h2>
                {{#if user.imagem}}
                <div>
                    <strong>Imagem:</strong>
                    <img src="data:{{user.imagem.contentType}};base64,{{user.imagem.data}}" alt="Imagem do candidato">
                </div>
                {{/if}}
                <p><strong>Nome:</strong> {{user.nome}}</p>
                <p><strong>CPF:</strong> {{user.cpf}}</p>
                <p><strong>Email:</strong> {{user.email}}</p>
                <p><strong>Telefone:</strong> {{user.telefone}}</p>
                <p><strong>Educação:</strong> {{user.educacao}}</p>
                <p><strong>Qualificações:</strong> {{user.qualificacao}}</p>
                <p><strong>Cursos:</strong> {{#if user.cursos}}{{#each user.cursos}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}{{else}}Não informado{{/if}}</p>
                <p><strong>Descrição:</strong> {{user.descricao}}</p>
                <p><strong>Habilidades Técnicas:</strong> {{user.habilidadesTecnicas}}</p>
                <p><strong>Idiomas:</strong> {{#if user.idiomas}}{{#each user.idiomas}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}{{else}}Não informado{{/if}}</p>

            </section>
            {{else if user.cnpj}}
            <section>
                <h2>Informações do Empregador</h2>
                <p><strong>Email:</strong> {{user.email}}</p>
                <p><strong>CNPJ:</strong> {{user.cnpj}}</p>
                <p><strong>Telefone:</strong> {{user.fone}}</p>
                <p><strong>Biografia:</strong> {{user.bio}}</p>
                <p><strong>Site:</strong> {{user.site}}</p>
            </section>
            {{else}}
            <p>Erro: Usuário não encontrado.</p>
            {{/if}}

            
            {{#if user.nome}}
            <button class="btn-back" onclick="window.location.href = '/candidato/dashboard/';">Voltar</button>
            <button class="btn-edit" onclick="window.location.href = '/candidato/perfil/{{id}}/editar';">Editar</button>

            {{else if user.cnpj}}
            <button class="btn-back" onclick="window.location.href = '/empresa/dashboard/';">Voltar</button>
            <button class="btn-edit" onclick="window.location.href='';">Editar</button>
            {{/if}}
    </main>
</body>


