<body>
    <div>
        <nav class="navbar">
             <h1>JobFinder  </h1>
            <div class="search-container">
               
                <form action="/candidato/vagas/buscar" method="GET">
                    <input type="text" name="q" class="search-input" placeholder="Buscar Vagas">
                    <button type="submit" class="search-button">Buscar</button>
                </form>
            </div>
            <ul class="navbar-menu">
                <li><a href="/candidato/dashboard">
                         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 7.5H14.5A.5.5 0 0 1 15 8z"/>
            </svg>
                    </a></li>
            </ul>
        </nav>
       

        <!-- Categorias -->
        <div class="categories">
            <button class="category-button">Full Stack</button>
            <button class="category-button">UX/UI Designer</button>
            <button class="category-button">Analista de Dados</button>
            <button class="category-button">Técnico em TI</button>
            <button class="category-button">Estoquista</button>
            <button class="category-button">Programador Front End</button>
            <button class="category-button">Programador Back End</button>
            <button class="category-button">Operador de caixa</button>
            <button class="category-button">Enfermagem</button>
        </div>

        <!-- Grid de vagas -->
        <div class="jobs-grid">
            <ul class="card-grid">
                {{#if vagas.length}}
                {{#each vagas}}
                <li class="job-card">
                    <!-- Nome da vaga -->
                    <h2>{{nome}}</h2>

                    <!-- Nome da empresa -->
                    {{#if empresa}}
                    <p class="job-company">{{empresa.nome}}</p>
                    {{/if}}

                    <!-- Imagem da vaga -->
                    {{#if imagem}}
                    <img src="{{imagem}}" alt="{{nome}}" class="job-image" />
                    {{/if}}

                    <!-- Descrição -->
                    <p>{{area}}</p>

                    <!-- Botão de cadastro -->
                    <button class="register-button" onclick="window.location.href = '/vagas/{{_id}}';">Ver
                        Vaga</button>
                </li>
                {{/each}}
                {{else}}
                <!-- Caso não existam vagas cadastradas -->
                <div class="no-data">
                    <p>Não existem vagas cadastradas.</p>
                </div>
                {{/if}}
            </ul>
        </div>
    </div>
    </div>
</body>