<head>
   <head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>


<div class="container">
    <h1>Detalhes da Candidatura</h1>
    
        {{#each candidaturas}}
            <li class="job-card">
                <!-- Nome da vaga -->
                <h2>{{vaga.nome}}</h2>

                <!-- Nome da empresa -->
                {{#if empresa}}
                <p class="job-company">{{empresa.nome}}</p>
                {{/if}}

                <!-- Imagem da vaga -->
                {{#if vaga.imagem}}
                <img src="data:{{vaga.imagem.contentType}};base64,{{vaga.imagem.data}}" alt="{{vaga.nome}}" class="job-image" />
                {{/if}}

                <!-- Descrição -->
                <p>{{vaga.area}}</p>

                <h2>Status</h2>
    <p>{{status}}</p>

                <!-- Botão de cadastro -->
                <form action="/candidato/{{candidato._id}}/vagas/delete/{{_id}}" method="post">
        <button type="submit">Cancelar candidatura</button>
    </form>
            </li>
        {{/each}}

        <nav class="bottom-nav">
            <a href="/candidato/dashboard" class="nav-item ">Início</a>
            <a href="/candidato/{{candidatoId}}/candidaturas" class="nav-item active">Candidaturas</a>
            <a href="#" class="nav-item">Configurações</a>
        </nav>
        
</div>

    <script>
    // Verifica se a URL contém o parâmetro "success"
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('success') === 'true') {
        Swal.fire({
            icon: 'success',
            title: 'Sucesso!',
            text: ' sucesso!',
            confirmButtonText: 'OK',
            timer: 3000 // Fecha automaticamente após 3 segundos
        });
    }


   
</script>