<body>
    <nav class="navbar">
        <h1>JobFinder</h1>

        <ul class="navbar-menu">
            <li><a href="/empresa/dashboard">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                <path fill-rule="evenodd"
                    d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
            </svg>
            </a></li>
        </ul>
    </nav>

    <!-- Barra de busca -->
    <div class="search-container">
        <form action="/empresa/candidatos/buscar" method="GET">
            <span class="search-icon">🔍</span>
            <input type="text" name="q" class="search-input" placeholder="Buscar Candidatos">
            <button type="submit" class="search-button">Buscar</button>
        </form>
    </div>
    <div class="container">
        <!-- Cabeçalho -->
        <div class="capiroto">
            <h1>Resultados da Busca:</h1>
            <p>Termo buscado: "{{query}}"</p>
        </div>

        <!-- Grid de Candidatos -->
        <div class="candidates-grid">
            {{#if candidatos.length}}
            {{#each candidatos}}
            <div class="candidate-card">
                <!-- Imagem do candidato -->
                {{#if imagem}}
                <img src="{{imagem}}" alt="{{nome}}" class="candidate-image" />
                {{/if}}

                <!-- Nome do candidato -->
                <h2>{{nome}}</h2>

                <!-- Qualificação -->
                <p>{{qualificacao}}</p>

                <!-- Educação -->
                <p>{{educacao}}</p>

                <!-- Botão para ver perfil -->
                <button class="view-profile-button">Ver Perfil</button>
            </div>
            {{/each}}
            {{else}}
            <div class="no-data">
                <p>Nenhum candidato encontrado para "{{query}}".</p>
            </div>
            {{/if}}
        </div>
    </div>
</body>
</html>